{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <table>
                <tr>
                    <td width="200"><img src={{ image  }} height='200' width='100'>
                    </td>
                    <td width="">
                        <p>Модель: {{ model }}</p>
                        <p>Цена: {{ price }} р.</p>
                        <p>Дата выхода: {{ date }}</p>
                        {% if lte == 'False' %}
                            <p>Наличие LTE: Нет</p>
                        {% elif lte == 'True' %}
                            <p>Наличие LTE: Да</p>
                        {% endif %}
                    </td>
            </tr>
                <tr>
                    <td colspan="2">
                    <p align="center"><a href="/catalog" > На главную</a></p>
                    </td>

                </tr>
            </table>


        </div>
    </div>
{% endblock %}